---
import PageWithTray from '@layouts/PageWithTray.astro';
import LayoutsTray from 'src/components/server/LayoutsTray.astro';
---

<PageWithTray>
  <LayoutsTray slot="tray" />
    <div class="content-columns">
      <div class="full-width elevation-1 p-2 text-center">
        <h1 class="m-0">Content columns</h1>
      </div>
      <div class="column-l">
        <h2>Basic usage</h2>
        <p><code>.content-columns</code> is a container for columnar content, such as mutiple articles or lists of cards.</p>
      </div>
      <div class="column-s">
        <cn-card 
        title=".column-s"></cn-card>
      </div>
    </div>
</PageWithTray>