---
import ModalPage from '@layouts/ModalPage.astro';
import LayoutsTray from 'src/components/server/LayoutsTray.astro';
---
<ModalPage>
  <LayoutsTray slot="tray" />
  <div class="content-editor">
    <div class="toolbar">
      <button type="button">
        <cn-icon noun="edit"></cn-icon>
      </button>
      <label class="flex-grow">
        An input in a toolbar
        <input type="text" placeholder="Title" />
      </label>
    </div>
    <textarea>...</textarea>
    <div class="toolbar justify-end">
        <button type="button">
          <cn-icon noun="save"/>
          <span>Save</span>
        </button>
      </div>
  </div>
</ModalPage>