---
import PageWithTray from "@layouts/PageWithTray.astro";
import LayoutsTray from "src/components/server/LayoutsTray.astro";

---
<PageWithTray>
  <LayoutsTray slot="tray" />
  <div class="content-columns">
    <article class="column-l">
      <h1>FAB tray</h1>
      <section>
        <h4>Examples</h4>
        <div class="grid two-cols">
          <div>
            <button class="fab">Button .fab</button>
          </div>
          <div>
            <a href="#" class="fab">Link .fab</a>
          </div>
          <!-- Line break -->
          <div>
            <button class="fab">
              <cn-icon noun="mekanismi"></cn-icon>
              <span>Button .fab</span></button>
          </div>
          <div>
            <a href="#" class="fab">
              <cn-icon noun="dd5"></cn-icon>
              <span>Link .fab</span>
            </a>
          </div>
          <!-- Line break -->
          <div>
            <button class="fab secondary">Button .fab</button>
          </div>
          <div>
            <a href="#" class="fab secondary">Link .fab</a>
          </div>
          <!-- Line break -->
          <div>
            <button class="fab secondary">
              <cn-icon noun="mekanismi"></cn-icon>
              <span>Button .fab</span></button>
          </div>
          <div>
            <a href="#" class="fab secondary">
              <cn-icon noun="dd5"></cn-icon>
              <span>Link .fab</span>
            </a>
          </div>
          <!-- Line break -->
          <div>
            <button class="fab  small">Button .fab</button>
          </div>
          <div>
            <a href="#" class="fab  small">Link .fab</a>
          </div>
          <!-- Line break -->
          <div>
            <button class="fab  small">
              <cn-icon noun="mekanismi"></cn-icon>
              <span>Button .fab</span></button>
          </div>
          <div>
            <a href="#" class="fab  small">
              <cn-icon noun="dd5"></cn-icon>
              <span>Link .fab</span>
            </a>
          </div>
          <!-- Line break -->
          <div>
            <button class="fab secondary small">Button .fab</button>
          </div>
          <div>
            <a href="#" class="fab secondary small">Link .fab</a>
          </div>
          <!-- Line break -->
          <div>
            <button class="fab secondary small">
              <cn-icon noun="mekanismi"></cn-icon>
              <span>Button .fab</span></button>
          </div>
          <div>
            <a href="#" class="fab secondary small">
              <cn-icon noun="dd5"></cn-icon>
              <span>Link .fab</span>
            </a>
          </div>  
        </div>
      </section>
    </article>
  </div>
  <nav slot="fab-tray" id="fab-tray">
    <a href="#" class="fab secondary small">Small secondary</a>
    <a href="#" class="fab small">Small</a>
    <a href="#" class="fab secondary">Secondary</a>
    <a href="#" class="fab">
      <cn-icon noun="fox"></cn-icon>
      <span>Primary</span>
    </a>
  </nav>
</PageWithTray>