---
import PageWithTray from '@layouts/PageWithTray.astro';
import LayoutsTray from 'src/components/server/LayoutsTray.astro';
---

<PageWithTray>
  <LayoutsTray slot="tray" />
  <div class="content-columns">
    <article class="column-l">
	<h1>
    <cn-icon noun="layout" large></cn-icon>
    App Layout</h1>
    
    <LayoutsTray />
    
    </article>
  </div>
</PageWithTray>