---
import { getCollection } from 'astro:content';

const allComponents = await getCollection('css');
---
<h3>CSS</h3>
<ul class="list-style-none">
{ allComponents.map(
  p => (
    <li>
      <a href={`/css/${p.slug}`}>
        {p.data.name} 
       
      </a>
      <br>
      {p.data.description}
    </li>
  )
)}
</ul>