---
import PageWithTray from '@layouts/PageWithTray.astro';
import ComponentsTray from 'src/components/server/ComponentsTray.astro';
import ElementsToc from '@components/server/ElementsToc.astro';
---

<PageWithTray>
  <ComponentsTray slot="tray" />
  <div class="content-columns">
    <article class="content-columns">
	    <h1>Web Components</h1>
      <ElementsToc />
    </article>
  </div>
</PageWithTray>
 