---
import PageWithTray from '@layouts/PageWithTray.astro';
import SnackbarCode from 'src/components/docs/snackbarCode.md';
import ComponentsTray from 'src/components/server/ComponentsTray.astro';
---
<PageWithTray>
  <ComponentsTray slot="tray" />
    <div class="content-columns">
      <article class="column-l">
        <h1>Snackbar</h1>
        <input type="text" id="demoSnackbarInput" placeholder="Enter a message" />
        <button id="demoSnackbarButton">Push to snackbar</button>
        <SnackbarCode />
      </article>
    </div>
  <script is:inline>
    document.getElementById('demoSnackbarButton').addEventListener('click', () => {
      const message = (document.getElementById('demoSnackbarInput')).value || 'Hello, world!'; 
    
      // Create and dispatch the custom event
      const event = new CustomEvent('cn-snackbar-add', {
        detail: { message }, 
      });
      window.dispatchEvent(event);
    
      console.log('event fired', message); 
    });
    
    // Add an event listener to log when the snackbar is added to the DOM
    document.addEventListener('cn-snackbar-connected', () => {
      console.log('cn-snackbar connected to the DOM');
    });
  </script>
</PageWithTray>