---
import TextColorSection from './TextColorSection.astro';
---

<article>
  <h2>Text Body</h2>
  <p>By default, all text in <code>main</code> is formatted with as <code>.text_body</code> class. 
    <strong>Strong</strong> and <em>emphasized</em> text is styled accordingly.</p>
  <TextColorSection />
  <h3 class="text_body">The <code>.text_body</code> class can be used to override default styles for text-elements like this h3</h3>
</article>