<section>
  <h3>Text color</h3>
  <p>We support 3 different text colors: [default], 
    <code>.high-emphasis</code>, and <code>low-emphasis</code>. The default text has opacity of 82%.</p>

  <p class="high_emphasis">This paragraph has the "atomic" style <code>.high_emphasis</code>, and should have high emphasis, and thus opacity of 1.00</p>

    <p class="low_emphasis">This paragraph has the "atomic" style <code>.low_emphasis</code>, and should have low emphasis, and thus opacity of 0.68</p>
</section>