---
import CnColorCard from '@demo/ColorCard.astro';
import CnColorCardLabel from '@demo/ColorCardLabel.astro';
import CnColorPaletteDemo from '@demo/ColorPaletteDemo.astro';
import Page from '@layouts/Page.astro';

const chroma_primary = [
  {
    color: 'var(--chroma-primary-10)',
    title: '10',
  },
  {
    color: 'var(--chroma-primary-20)',
    title: '20',
  },
  {
    color: 'var(--chroma-primary-30)',
    title: '30',
  },
  {
    color: 'var(--chroma-primary-40)',
    title: '40',
  },
  {
    color: 'var(--chroma-primary-50)',
    title: '50',
  },
  {
    color: 'var(--chroma-primary-60)',
    title: '60',
  },
  {
    color: 'var(--chroma-primary-70)',
    title: '70',
  },
  {
    color: 'var(--chroma-primary-80)',
    title: '80',
  },
  {
    color: 'var(--chroma-primary-90)',
    title: '90',
  },
  {
    color: 'var(--chroma-primary-95)',
    title: '95',
  },
  {
    color: 'var(--chroma-primary-99)',
    title: '99',
  },
];

const chroma_surface = [
  {
    color: 'var(--chroma-surface-10)',
    title: '10',
  },
  {
    color: 'var(--chroma-surface-20)',
    title: '20',
  },
  {
    color: 'var(--chroma-surface-30)',
    title: '30',
  },
  {
    color: 'var(--chroma-surface-40)',
    title: '40',
  },
  {
    color: 'var(--chroma-surface-50)',
    title: '50',
  },
  {
    color: 'var(--chroma-surface-60)',
    title: '60',
  },
  {
    color: 'var(--chroma-surface-70)',
    title: '70',
  },
  {
    color: 'var(--chroma-surface-80)',
    title: '80',
  },
  {
    color: 'var(--chroma-surface-90)',
    title: '90',
  },
  {
    color: 'var(--chroma-surface-95)',
    title: '95',
  },
  {
    color: 'var(--chroma-surface-99)',
    title: '99',
  },
];

const chroma_key = [
  {
    color: 'var(--chroma-key-10)',
    title: '10',
  },
  {
    color: 'var(--chroma-key-20)',
    title: '20',
  },
  {
    color: 'var(--chroma-key-30)',
    title: '30',
  },
  {
    color: 'var(--chroma-key-40)',
    title: '40',
  },
  {
    color: 'var(--chroma-key-50)',
    title: '50',
  },
  {
    color: 'var(--chroma-key-60)',
    title: '60',
  },
  {
    color: 'var(--chroma-key-70)',
    title: '70',
  },
  {
    color: 'var(--chroma-key-80)',
    title: '80',
  },
  {
    color: 'var(--chroma-key-90)',
    title: '90',
  },
  {
    color: 'var(--chroma-key-95)',
    title: '95',
  },
  {
    color: 'var(--chroma-key-99)',
    title: '99',
  },
];

const primary_palette = [
  {
    color: 'var(--chroma-S-K)',
    title: 'S/K',
  },
  {
    color: 'var(--chroma-K-S)',
    title: 'K/S',
  },
  {
    color: 'var(--chroma-C)',
    title: 'C',
  },
  {
    color: 'var(--chroma-N)',
    title: 'N',
  },
  {
    color: 'var(--chroma-A)',
    title: 'A',
  },
];
---

<Page title="Color" noun="palette">
  <div class="content-columns">
    <article class="column-l">
      <h1>Color</h1>

      The Cyan <i>"chroma"</i> color scales are based on following hierarchy of colors:
      
      <CnColorPaletteDemo palette={primary_palette} />

      <ul>
        <li><strong>S/K</strong> - Surface / Key</li>
        <li><strong>K/S</strong> - Key / Surface</li>
        <li><strong>C</strong> - Primary color</li>
        <li><strong>N</strong> - Highlight color</li>
        <li><strong>A</strong> - Accent color</li>
      </ul>

      <p>These colors, and the scales based on the said colors should not be directly. Instead, use the variables
        provided in the design tokens to ensure theming consistency and maintainability.</p>
      
      <h2>Surface and Key</h2>
      <section class="flex">
      <!-- Primary white -->
      <CnColorCard 
        color="#f3f9fd"
        title="--chroma-bright-white">
        <CnColorCardLabel color="#f3f9fd" />
        <CnColorCardLabel color="hsl(204deg, 78%, 97%)" />
      </CnColorCard>
      <!-- Primary key -->
        <CnColorCard 
            color="#002A3A"
            title="--chroma-303-c">
            <CnColorCardLabel color="#002A3A" />
            <CnColorCardLabel color="hsl(197deg , 100% , 11%)" />
        </CnColorCard>
      </section>

      <h4>--chroma-surface-[code]</h4>
      <CnColorPaletteDemo palette={chroma_surface} />

      <h4>--chroma-key-[code]</h4>
      <CnColorPaletteDemo palette={chroma_key} />

      <h2>Primary colors</h2>

      <h4>--chroma-primary-[code]</h4>
      <CnColorPaletteDemo palette={chroma_primary} />
    </article>
  </div>
</Page>