---
import Page from '@layouts/Page.astro';
---

<Page>
  <div class="content-columns">
	<article class="column-l">
       <h1>Principles</h1>
       <p><a href="/principles/color">Color</a></p>
	</article>
  </div>
</Page>