---
import PrinciplesToc from '@components/server/PrinciplesToc.astro';
import PageWithTray from '@layouts/PageWithTray.astro';
---

<PageWithTray>
  <PrinciplesToc slot="tray" />
  <div class="content-columns">
	<article class="column-l">
       <h1>Principles</h1>
       <p><a href="/principles/color">Color</a></p>
       <p><a href="/principles/iconography">Iconography</a></p>
       <p><a href="/principles/typography">Typography</a></p>

      <PrinciplesToc />

	  </article>
  </div>
</Page>