---
import CssToc from '@components/server/CssToc.astro';
import PageWithTray from '@layouts/PageWithTray.astro';
---

<PageWithTray>
  <CssToc slot="tray"/>
  <div class="content-columns">
    <article class="column-l">
	    <h1>CSS</h1>
      <h2>Generics and Atomics</h2>
      <CssToc />
    </article>
  </div>
</PageWithTray>