---
import InstallationArticle from '../components/docs/InstallationArticle.md';
import IntroArticle from '../components/docs/IntroArticle.md';
import Page from '../layouts/Page.astro';
---

<Page>
  <div class="content-columns">
	<article class="column-l">
      <IntroArticle />
	</article>
	<article>
      <InstallationArticle />
	</article>
  </div>
</Page>