---
import PageWithTray from '@layouts/PageWithTray.astro';
---

<PageWithTray title="Addons">
    <main>
        <div class="content-colums">
            <div>
                <h1>Addons</h1>
                <h2><code>{'<cn-dice>'}</code></h2>
                <p>Whoa, this works! <cn-dice></cn-dice>. And we can have d100 roll like
                  <cn-dice sides="10" value="3"></cn-dice>
                  <cn-dice sides="10" value="7"></cn-dice> printed in-line!
                </p>
            </div>
        </div>
    </main>
</PageWithTray>