---
import { getCollection } from 'astro:content';

const allComponents = await getCollection('elements');

const componentDirectory = [
  ...allComponents.map((p) => ({
    slug: p.id,
    longname: p.data.name,
    noun: p.data.noun,
    nodename: p.data.nodename,
  })),
  {
    slug: 'dialog',
    longname: 'Dialog',
    noun: 'layout',
    nodename: 'cn-dialog',
  },
  {
    slug: 'snackbar',
    longname: 'Snackbar',
    noun: 'layout',
    nodename: 'cn-snackbar',
  },
  {
    slug: 'editor',
    longname: 'Editor',
    noun: 'layout',
    nodename: 'cn-editor',
  },
];
---

<h3 class="cn-tray-title">Web Components</h3>
<ul>
  {
    componentDirectory.map(p => (
      <li>
        <a href={'/elements/' + p.slug}>
          {p.noun && <cn-icon noun={p.noun} small></cn-icon>}
          {p.longname} <br>
          <code>{p.nodename}</code>
          </a>
      </li>
    ))
  }
</ul>